@model IEnumerable<User>
@{
    ViewData["Title"] = "Administration Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/StyleSheet.css" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet" />

@inject Microsoft.AspNetCore.Identity.UserManager<CTC.Models.User> userManager;

<section class="container p-2">
    <div class="container section-title" data-aos="fade-up">
        <h2>Administration Department</h2>
    </div>

    <div class="row">
        @foreach (var user in Model)
        {
            // Skip AssociateMember users
            if (await userManager.IsInRoleAsync(user, "AssociateMemberShip"))
            {
                continue;
            }

            <div class="col-lg-4 col-md-6 mb-4">
                <a href="mailto:@user.Email" class="card-link">
                    <div class="card shadow-sm mb-2">
                        <div class="card-image text-center">
                            @if (!string.IsNullOrEmpty(user.ImageUrl))
                            {
                                <img src="@user.ImageUrl" class="card-img-top rounded-circle mx-auto" alt="User Image" style="width: 150px; height: 150px;" />
                            }
                            else
                            {
                                <i class="bi bi-person-circle"></i>
                            }
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title">@user.FullName</h5>
                            <p class="card-text">@user.Email</p>

                            @if (await userManager.IsInRoleAsync(user, "Admin"))
                            {
                                <p class="card-text">CEO</p>
                            }
                            @if (await userManager.IsInRoleAsync(user, "AcademicManager"))
                            {
                                <p class="card-text">Academic Manager</p>
                            }
                            @if (await userManager.IsInRoleAsync(user, "LeaderMember"))
                            {
                                <p class="card-text">Leader Manager</p>
                            }
                            @if (await userManager.IsInRoleAsync(user, "VolunteerManager"))
                            {
                                <p class="card-text">Volunteer Manager</p>
                            }
                            @if (await userManager.IsInRoleAsync(user, "MediaManager"))
                            {
                                <p class="card-text">Media Manager</p>
                            }
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</section>