@{
    ViewData["Title"] = "Join CTC - Disabled";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<main id="main" class="main">
    <div class="pagetitle text-center my-4">
        <h1>Join the CTC</h1>
    </div>

    <section class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
        <div class="alert alert-danger text-center" style="max-width: 600px; width: 100%;">
            <h5>@ViewBag.DisabledMessage</h5>
        </div>
    </section>
</main>
